.app-header {
  background-color: #3490dc;
  padding: 1rem 0;
}

.header-container {
  max-width: 64rem;
  margin: 0 auto;
  color: rgb(11, 68, 255);
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-link {
  color: #ffffff;
  font-weight: medium;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.header-link:hover {
  background-color: #0c17e8;
}