<div class="grid-container">
    <div class="left-panel bg-blue-600 flex flex-col gap-4 justify-center ps-28">
        <h1 class="welcome-text">¡Bienvenido!</h1>
        <p class="sub-text">Por favor, inicia sesión para continuar.</p>
        <div class="image-container">
            <img src="/assets/static/login.jpg" alt="Imagen de fondo" class="background-image">
        </div>
    </div>
    <div class="right-panel">
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>