.form-container {
  max-width: 24rem;
  margin: 0 auto;
  background-color:#f5f5f5;
  padding: 1.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 0 1rem #3490dc;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 1.5rem;
  
}
.form-error{
  color: red;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #000000;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  
}

.form-button {
  background-color: #3490dc;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  
}

.form-button:hover {
  background-color: #0004f5;
  
}

.forgot-password-link {
  color: #666;
  font-size: 0.875rem;
  cursor: pointer;
  
}

.forgot-password-link:hover {
  color: #3490dc;
  
}

 
  